<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width,user-scalable=no"/>
<title>do login</title>
<script>
	function funfromjs(){
		document.getElementById("username").value="haha,this is js where you comes";
	}
	
</script>

</head>

<body background="../../images/bg.png">

<center>
	<font color="white">username:</font><input type="text" id="username" name="username" /><br>
	<font color="white">password:</font><input type="password" name="password" /><br>
	<input type="button" value="Login" id="userlogin" onClick="injs.runOnAndroidJavaScript();" /><br>
	<a href="http://www.sina.cn" style="font-size: 14;color:white;">click here to goto sina com</a>
</center>
</body>
</html>