<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="  
            height = [pixel_value | device-height] ,  
            width = [pixel_value | device-width ] ,  
            initial-scale = float_value ,  
            minimum-scale = float_value ,  
            maximum-scale = float_value ,  
            user-scalable = [yes | no] ,  
            target-densitydpi = [dpi_value | device-dpi |  
            high-dpi | medium-dpi | low-dpi]  
        " />
<title>Insert title here</title>
<style type="text/css">
body {
	background: url("../../images/bg_main.png");
	background-attachment: fixed;
	background-repeat: repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	width:100%;
	height:100%;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

#login_box {
	position: absolute;
	bottom: 80%;
	top:400px;
	left:40%;
	width:20%;
	padding-right: 20px;
}
</style>
</head>
<body>
	<div id="login_box">
		<input type="button" id="btn_login" value="登录"
			style="width:100%;color: #F78B26; margin-bottom: 10px; padding: 10px; font-size: 14px; text-align: center;" /><br>
		<input type="button" width="100%" id="btn_reg" value="注册"
			style="width:100%; color: #F78B26; font-size: 14px; text-align: center; padding: 10px;" /><br>
	</div>
</body>
</html>